main {

	.required {
		color: red;
	}

	.optional {
		color: gray;
	}

	input {
		text-align: center;
	}

	.add-recipe {
		max-width: 1200px;
		text-align: center;
		margin: 0 20% 60px 20%;
		label {
			display: inline-block;
			margin-top: 10px;
		}
		.button-wrap {
			margin: 20px 0 20px 0;
			button {
				&.button {
					width: 100px;
					height: 30px;
					padding: 0;

				}
			}
		}					
		.val-message {
			color: red;
		}

		#pourGroupTableDiv {
			width: 100%;
			table{
				margin: 0 auto;
				tbody{
					td{
						padding: 0;
					}

				}

			}
		}
		textarea {
			width: 300px;
			height: 200px;
			resize: none;
		}
		#submitButton{
			display: block;
		}

	}
}