// @mixin table-wrap-bg-color {
// 	background-image: linear-gradient(to bottom right, brown, chocolate);
// }  

main {
	div.browse-recipe {
		h1{
			color: black;
			margin-top: 0;
		}
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: auto;
		div.browse-recipe-wrap {
			// @include table-wrap-bg-color;
			margin: 40px 20% 0 20%;
			padding: 10px;
			border-radius: 5px;

			table{			
				margin: 0 auto;
				width: 500px;
				border-collapse: collapse;

				th{
					font-size: 2em;
					color: #fff;
				}
				
				td:nth-child(even) {
					background: rgba(204, 204, 204, 0.5);

					&:hover {
						background: #FFCDBC;
					}
				}
				td:nth-child(odd) {
					background: rgba(255, 255, 255, 0.5);
					&:hover {
						background: #FFCDBC;
					}
					cursor: pointer;
				}

				th, td {
					border-bottom: 1px solid #130303;
					font-size: 1.5em;
				}
			}
		}

	}

}